1 - The date with max amount of orders

In [ ]:
SELECT created_date, COUNT(*) AS total_orders
FROM orders
GROUP BY created_date
ORDER BY total_orders DESC
LIMIT 1;

2 - The most demanded product

In [ ]:
SELECT p.name AS product_name, SUM(o.quantity) AS total_quantity, SUM(o.quantity * p.price) AS total_revenue
FROM orders o
JOIN products p ON o.product_id = p.id
GROUP BY p.name
ORDER BY total_quantity DESC
LIMIT 1;

3 - The top 3 most demanded categories

In [ ]:
SELECT p.category, SUM(o.quantity) AS total_quantity
FROM orders o
JOIN products p ON o.product_id = p.id
GROUP BY p.category
ORDER BY total_quantity DESC
LIMIT 3;